@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p class="container inter24 textosBienvenida" id="textoBienvenida1">
        La mejor aplicación para planificar tus viajes y disfrutar al máximo.
    </p>
</div>

<nav class="container">
    <form class="busqueda form-inline position-relative" asp-controller="Busqueda" asp-action="Index" method="get">
        <div class="position-relative w-100">
            <input class="inputRedondo form-control mr-sm-2 inter24 pr-5" id="busquedaPrincipal" name="nombreHotel" type="search" placeholder="Buscar hospedaje..." aria-label="Search">
            <button type="submit" class="botonTransparente">
                <i class="fas fa-search icono-busqueda"></i>
            </button>
        </div>   
    </form>
</nav>

<div class="container">
    <p class="container inter24 textosBienvenida" id="textoBienvenida2">
        Con Hoteles Caribe, puedes encontrar la mejor manera de disfrutar tus días libres.
    </p>
</div>

<div class="container sloganPrincipal">
    <p class="sloganRancho navbar-brand">HotelesCaribe</p>
    <p class="container inter24 textosBienvenida" id="textoSlogan">
        La mejor plataforma para tu negocio y tus viajes.
    </p>
</div>